@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    background: #efefefd8
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profile_image {
    border-radius: 3px;
}

.about_col {
    padding: 7px;
}

.social_icons {
    font-size: 1.5rem;
}

.icon {
    padding: 7px;
    color: #ffffff;
    font-size: 1.2em
}

header {
    height: 100%;
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}

div#load_screen {
    background: #efefef;
    opacity: 1;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 1600px;
}

div#load_screen>div#loading {
    color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}