@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    /* background: #007bff !important */
}

#content {
    display: none;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.profile_image {
    border-radius: 3px;
}

.about_col {
    padding: 7px;
}

.social_icons {
    font-size: 1.5rem;
}

.icon {
    padding: 7px;
    color: #ffffff;
    font-size: 1.2em
}

.icon-red {
    color: red
}

header {
    height: 100%;
    padding: 156px 0 100px;
}

section {
    padding: 150px 0;
}


/* LOADING SCREEN ANIMATION */

div#load_screen {
    background: #efefef;
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

div#load_screen>div#loading {
    color: #FFF;
    width: 120px;
    height: 24px;
    margin: 300px auto;
}


/* SNACKBAR */

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}