body {
  	text-rendering: optimizeLegibility;
	background: #efefef
}
a {
	text-decoration: none;
	font-size: 22px;
	color: black;
}

.profile_image {
	border-radius: 3px;
}

.about_col {
	padding: 7px;
}

.social_icons {
	font-size: 1.5rem;
}

.icon {
	padding: 7px;
}
